@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply mx-auto w-full px-[0.75rem] md:px-[3rem] xl:px-[6rem];
  }

  .font-exo2 {
    font-family: 'Exo 2', sans-serif;
  }

  .font-sriracha {
    font-family: 'Sriracha', cursive;
  }

  .stroke-text {
    -webkit-text-stroke: 1px #4e4e4e;
    color: transparent;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 18s linear infinite;
}

